/* Google web fonts 'Open Sans' (italic and normal) and 'Kite One' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Kite+One););
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.logo{
	float: left;
	padding: 10px;
}

header {
	font-family: 'Kite One';
}


footer{
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

h1 {
	font-family: 'Open Sans';
	font-size: 50px;
	color: #0000000;
	text-align: left;
}

p{
	font-size: 20px;
	font-family: 'Kite One';

}

.link{
	text-decoration: none;
}
.link:hover{
	text-decoration: underline;
}

.menu {
	font-family: 'Open Sans';
}

.inquire{
	font-size: 30px;
	font-family: 'Kite One';
	text-align: center;
}